.highlight-next-left {
    background-color:#537971;
}
.highlight-next-right {
    background-color:#537698;
}

/** Add css rules here for your application. */
h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 40px 0px 70px;
    text-align: center;
}

.sendButton {
    display: block;
    font-size: 16pt;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs{
    z-index: 1000;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
}

.dialogVPanel {
    margin: 5px;
}
/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
    /*margin: 15px 6px 6px;*/
}


/** PERSONALIZED **/
div.gwt-TabLayoutPanelTabs {
    height: 100%;
    width: 100% !important;
    padding: 0 !important;
}
.gwt-TabLayoutPanelTabs > div {
    height: 100%;
    margin: 0 !important;
}
.gwt-TabLayoutPanelTabs > div:first-child {
    background-image: url("../img/aurora_logo.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 260px;
    border-radius: 0;
    background-position-y: 30%;
}

.gwt-TabLayoutPanelTabs > div:last-child {
    float:right;
    border-radius: 0;
    text-transform: capitalize;
    width: 150px;
    font-size: 1.5em;
    line-height: 2em;
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab {
    margin: 0 !important;
    padding: 0 !important;
}
.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
    background-color: unset;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContentContainer {
    border: none !important;
}

.zindex {
    z-index: 1000;
    position: relative;
}
.block {
    display: block;
}

/*ADD NEW FUNCTION*/
.addLibraryItem, .shareDialogBox {
    border-radius: 3%;
    -webkit-box-shadow: 7px 6px 25px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 7px 6px 25px 1px rgba(0,0,0,0.75);
    box-shadow: 7px 6px 25px 1px rgba(0,0,0,0.75);
    left: 40vw !important;
    top: 20vh !important;
    min-width: 40vw;

}

.addLibraryItem .Caption, .shareDialogBox .Caption {
    text-align: center;
    padding: 10px;
    font-weight: 700;
    font-size: 14px;
    border-radius: 3%;
}

.addLibraryItem > div > table > tbody > .dialogMiddle > .dialogMiddleCenter > div > table > tbody > tr > td > table {
    width: 90%;
    margin: 5px auto 0;
}

.addLibraryItem .dialogMiddle .dialogMiddleCenter > div > table > tbody > tr > td > table > tbody > tr > td:nth-child(2) > input, .addLibraryItem .dialogMiddle .dialogMiddleCenter > div > table > tbody > tr > td > table > tbody > tr > td:nth-child(2) > textarea {
    border: none;
    width: 90%;
    width: 70%;
    font-size: 14px;
}
.addLibraryItem .dialogMiddle .dialogMiddleCenter > div > table > tbody > tr > td > table > tbody > tr > td:nth-child(1) {
    vertical-align: top;
    font-size: 13px;
    text-transform: uppercase;
    margin-right: 10px;
    line-height: 15px;
    vertical-align: middle;
    width: 30%;
}

.addLibraryItem .dialogMiddle .dialogMiddleCenter > div > table > tbody > tr > td > table > tbody > tr > td:nth-child(1) >.gwt-Label {
    padding-top: 10px;
    margin-right: 10px;
}

.addLibraryItem > div > table > tbody > tr.dialogMiddle > td.dialogMiddleCenter > div > table > tbody > tr:nth-child(4) > td {
    display: flex !important;
    justify-content: center;
    margin-top: 5%;
}

.addLibraryItem > div > table > tbody > tr.dialogMiddle > td.dialogMiddleCenter > div > table > tbody > tr:nth-child(4) > td > table {
    width: 100%
}

.addLibraryItem > div > table > tbody > tr.dialogMiddle > td.dialogMiddleCenter > div > table > tbody > tr:nth-child(4) > td > table > tbody > tr > td:nth-child(1) > button {
    border: none;
    margin-right: 5px;
    width: 100% !important;
    border-radius: 0;
}

.addLibraryItem > div > table > tbody > tr.dialogMiddle > td.dialogMiddleCenter > div > table > tbody > tr:nth-child(4) > td > table > tbody > tr > td:nth-child(2) > button {
    min-width: 80px;
    border: none;
    width: 100% !important;
    border-radius: 0;
}

.addLibraryItem > div > table > tbody > tr.dialogMiddle > td.dialogMiddleCenter > div > table > tbody > tr:nth-child(4) > td > table > tbody > tr > td {
    width: 50% !important;
}


/*SHARE POPUP*/
.shareDialogBox, .addLibraryItem {
    z-index: 1000;
}
.shareDialogBox .Caption {
    font-size: 15px;
}

.shareDialogBox table, .addLibraryItem table {
    width:100%;
}

.shareDialogBox > div > table > tbody > tr.dialogMiddle > td.dialogMiddleCenter > div {
    margin-top: 15px;
}

body > div.shareDialogBox > div > table > tbody > tr.dialogMiddle > td.dialogMiddleCenter > div > table > tbody > tr:nth-child(1) > td > table > tbody > tr > td {
    text-align: center;
    margin-bottom: 15px;
}

.shareDialogBox > div > table > tbody > tr.dialogMiddle > td.dialogMiddleCenter > div > table > tbody > tr:nth-child(1) > td > table > tbody > tr > td > textarea {
    width: 90%;
}

.shareDialogBox > div > table > tbody > tr.dialogMiddle > td.dialogMiddleCenter > div > table > tbody > tr:nth-child(1) > td > table {
    margin-bottom: 10px;
}

.shareDialogBox > div > table > tbody > tr.dialogMiddle > td.dialogMiddleCenter > div > table > tbody > tr:nth-child(2) > td > table > tbody > tr > td {
    width:50%;
}

.shareDialogBox > div > table > tbody > tr.dialogMiddle > td.dialogMiddleCenter > div > table > tbody > tr:nth-child(2) > td > table > tbody > tr > td > button {
    width: 100%;
    border: none;
    border-radius: 0;
}

/* TUTORIAL */

body > div:nth-child(7) > div:nth-child(2) > div > div:nth-child(3) > div > div:nth-child(3) > div {
    overflow-y: scroll;
}

.gwt-TabLayoutPanelContent .title {
    text-align: center;
    font-size: 17px;
}

.gwt-TabLayoutPanelContent .title h2{
    text-align: center;
    text-transform: uppercase;
}

.gwt-TabLayoutPanelContent section {
    font-size: 17px;
    column-count: 2;
    padding: 0 15% 15px;
}

.gwt-TabLayoutPanelContent section.col1{
    font-size: 17px;
    column-count: 1;
    padding: 0 15% 15px;
}

.gwt-TabLayoutPanelContent section span.highlight, .gwt-TabLayoutPanelContent section a{
    font-size: 17px;
}

.gwt-TabLayoutPanelContent section p, .gwt-TabLayoutPanelContent section li {
    font-size: 17px;
    margin: 10px 0 !important;
}

.gwt-TabLayoutPanelContent section .person_info {
    display: flex;
}

.gwt-TabLayoutPanelContent section .person {
    margin-bottom: 25px;
}

.gwt-TabLayoutPanelContent section .person h2{
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
}

.gwt-TabLayoutPanelContent section .person .person_bio {
    margin-left: 20px;
}

.gwt-TabLayoutPanelContent section .person .person_ava, .gwt-TabLayoutPanelContent section .person .person_ava img {
    position: relative;
    top: 10%;
    width:100px;
    height:100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.gwt-TabLayoutPanelContent section.col2 {
    column-count: unset;
    display: flex;
}

.gwt-TabLayoutPanelContent section.col2 .description {
    width: 40%;
}

.gwt-TabLayoutPanelContent section.col2 .image {
    width: 60%;
}

.gwt-TabLayoutPanelContent section.col2_50-50 {
    column-count: unset;
    display: flex;
}

.gwt-TabLayoutPanelContent section.col2_50-50 > div {
    width: 50%;
}

/* 3 colums */
.gwt-TabLayoutPanelContent section.col3 {
    column-count: unset;
    display: flex;
}

.gwt-TabLayoutPanelContent section.col3 div:nth-child(2n-1) {
    width: 20%;
}
.gwt-TabLayoutPanelContent section.col3 div.middle {
    width: 60%;
}
.gwt-TabLayoutPanelContent section.col3 div p, .gwt-TabLayoutPanelContent section.col2 div p {
    width: 90%;
    display: block;
}
.gwt-TabLayoutPanelContent section.col3 img, .gwt-TabLayoutPanelContent section.col2 img {
    margin: 20px auto;
    width: 90%;
    display: block;
}

.gwt-TabLayoutPanelContent section.column_40-20-40 div:nth-child(2n-1) {
    width: 40%;
}
.gwt-TabLayoutPanelContent section.column_40-20-40 div:nth-child(2) {
    width: 20%;
}

/* NAV */
#tutorial_nav {
    max-width: 30vw;
    position: fixed;
    top: 10%;
}

#tutorial_nav a {
    text-decoration: none;
    font-size: 17px;
    width: 100%;
    display: block;
    line-height: 30px;
}

#tutorial_nav a:hover {
    background-color: rgba(0,0,0,0.4);
}

#tutorial_nav ul.first_level, #tutorial_nav ul.second_level {
    list-style: none;
    margin: 0;
    padding: 0;
}

#tutorial_nav ul.second_level li {
    position: relative;
    padding-left: 20px;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
    overflow-y: scroll !important;
}

.infoDialogBox {
    min-height: 100px;
    border-radius: 10px;
    min-width: 350px;
    padding: 10px;
    z-index: 1000;
}

.infoDialogBox > div {
    margin: 20px auto;
    width: 250px;
}

.infoDialogBox table {
    margin: 0 auto;
}

.infoDialogBox .gwt-Label {
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    padding: 5px 0;
    word-wrap: break-word;
}

.infoDialogBox .popup_title {
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    text-transform: uppercase;
    font-weight: 800;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#functionField .CodeMirror {
    font-size: 17px !important;
    height: 200px !important;
}