/*================================
 =============AURORA.CSS==========
 =================================*/
 h1 {
    color: #777777;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelContent {
    padding:0 !important;
}
.serverResponseLabelError {
    color: red;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTabs {
    background: #ead7d7;
}

.gwt-TabLayoutPanelTabs > div:first-child {
    background-color: #ead7d7;
}

.gwt-TabLayoutPanelTabs > div:last-child {
    background-color: #bf5272;
}

.gwt-TabLayoutPanel .gwt-TabLayoutPanelTab-selected {
    background-color: unset;
}
/*ADD NEW FUNCTION*/
.addLibraryItem, .shareDialogBox {
    background: #d8d4c9;
}

.addLibraryItem .Caption, .shareDialogBox .Caption {
    color: #0E1028;
    border-bottom: 1px solid #fff;
    background: #D07996;
}

.addLibraryItem .dialogMiddle .dialogMiddleCenter > div > table > tbody > tr > td > table > tbody > tr > td:nth-child(2) > input, .addLibraryItem .dialogMiddle .dialogMiddleCenter > div > table > tbody > tr > td > table > tbody > tr > td:nth-child(2) > textarea {
    background: #bdbcbc;
    border-bottom: 1px solid #fff;
    color: #0E1028;
}
.addLibraryItem .dialogMiddle .dialogMiddleCenter > div > table > tbody > tr > td > table > tbody > tr > td:nth-child(1) {
    color: #0E1028;
}

.addLibraryItem > div > table > tbody > tr.dialogMiddle > td.dialogMiddleCenter > div > table > tbody > tr:nth-child(4) > td > table > tbody > tr > td:nth-child(1) > button {
    background: #D07996 !important;
    color: #0E1028;
    border: 1px solid #d17996;
}

.addLibraryItem > div > table > tbody > tr.dialogMiddle > td.dialogMiddleCenter > div > table > tbody > tr:nth-child(4) > td > table > tbody > tr > td:nth-child(2) > button {
    background: #bdbcbc !important;
    color: #0E1028;
    border: 1px solid #9a9898;
}

.shareDialogBox > div > table > tbody > tr.dialogMiddle > td.dialogMiddleCenter > div > table > tbody > tr:nth-child(1) > td > table > tbody > tr > td > textarea {
    color: #0C1021;
}

.shareDialogBox > div > table > tbody > tr.dialogMiddle > td.dialogMiddleCenter > div > table > tbody > tr:nth-child(2) > td > table > tbody > tr > td > button {
    color: #0E1028;
}

.shareDialogBox > div > table > tbody > tr.dialogMiddle > td.dialogMiddleCenter > div > table > tbody > tr:nth-child(2) > td > table > tbody > tr > td:nth-child(1) > button {
    background: #D07996 !important;
    border-right: 1px solid #0C1021;
}

.shareDialogBox > div > table > tbody > tr.dialogMiddle > td.dialogMiddleCenter > div > table > tbody > tr:nth-child(2) > td > table > tbody > tr > td:nth-child(2) > button {
    background: #81333d !important;
}


/* TUTORIAL */
.gwt-TabLayoutPanelContent {
    background: #efeeee;
    color: #0C1021;
    border-top: 1px solid #0C1021;
}
.gwt-TabLayoutPanelContent .title h2{
    color: #0C1021;
}

.gwt-TabLayoutPanelContent section {
    border-bottom: 1px solid #0C1021;
}

.gwt-TabLayoutPanelContent section.col1{
    border-bottom: 1px solid #0C1021;
}

.gwt-TabLayoutPanelContent section span.highlight, .gwt-TabLayoutPanelContent section a{
    color: #0C1021;
}

/* NAV */
#tutorial_nav {
    background: #ead7d7;
}

#tutorial_nav a {
    color: #0E1028;
}

#tutorial_nav ul li {
    border-bottom: 1px solid RGBA(208, 121, 150, 1.00);
}

.infoDialogBox {
    background: rgba(204, 83, 83, 0.9);
}

.infoDialogBox .gwt-Label {
    color: #0E1028;
}

.infoDialogBox .popup_title {
    border-bottom: 1px solid #bdbcbc;
    background: rgba(125, 35, 35, 0.8);
}

.highlight-red {
    background-color: red;
}

.highlight-green {
    background-color: green;
}

/*================================
 =============EDITOR.CSS==========
 =================================*/
.centerPanel {
    border: 1px solid #0C1021;
}

.inputFieldCenter, .centerPanel div:nth-child(6), .outputDockLayoutPanel {
    background-color: #fff;
}

.gwt-SplitLayoutPanel-VDragger {
    background-color: #D07996 !important;
}

.gwt-MenuBar-vertical {
    background: RGBA(208, 121, 150, 1.00) !important;
}

.action_bar button {
    color: #0E1028;
    background-color: #D07996;
}

.action_bar .run {
    background-image: url("../img/icons/icon_run.png");
    background-color: #D07996;
}

.action_bar .pause {
    background-image: url("../img/icons/icon_pause.png");
    background-color: #AE9945;
}

.action_bar .continue {
    background-image: url("../img/icons/icon_run.png");
    background-color: #AE9945;
}

.action_bar .reset {
    background-image: url("../img/icons/icon_reset.png");
    background-color: #893232;
}

.action_bar .step {
    background-image: url("../img/icons/icon_steps_2.png");
    background-color: #D07996;
}

.action_bar .disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}


/* STEPS */

.stepFieldTable tbody tr {
    border-bottom: 1px solid #949494;
}

.stepFieldTable tbody tr td:nth-child(1) {
    color: #c9c8c8;
}

.outputShare {
    background: url("../img/icons/icon_share.png") no-repeat center !important;
    background-color: #D07996;
}

.stepFieldTable .CodeMirror-line span[role=presentation]::selection, .stepFieldTable .CodeMirror-line span[role=presentation]::-moz-selection{
    background-color: #e6e6e6;
}

/*share settings*/

.stepShareSettings .subMenuIcon img{
    background: url("../img/icons/icon_settings.png") no-repeat !important;
    background-size: cover !important;
    height: 13px !important;
    width: 13px !important;
    z-index: 100;
}

.stepShareSettingsPopup *[class^="menuPopup"] {
    background: none !important;
}

.stepShareSettingsPopup table {
    background: RGBA(93, 109, 125, 0.70);
}

/*================================
 =============SIDEBAR.CSS==========
 =================================*/
.westPanel {
    background-color: #D8D4C8;
}

.stepSettings {
    background-image: url("../img/icons/icon_step_turkis.png");
    background-color: RGBA(208, 121, 150, 1.00);
    border-bottom: 0.2em solid #D8D4C8;
}
.stepSettings .gwt-TextBox {
    border: none;
    text-align: center;
    background-color: RGBA(208, 121, 150, 1.00);
    border-bottom: 1px solid #b2b0b0 !important;
    color: #0E1028;
}

.standrard_db {
    color: #0E1028;
    background: url("../img/icons/icon_db.png") no-repeat !important;
    background-repeat: no-repeat;
    background-size: auto 60% !important;
    background-position: 3% center !important;
}

.user_db {
    color: #0E1028;
    background: url("../img/icons/icon_user_db.png") no-repeat !important;
    background-repeat: no-repeat;
    background-size: auto 70% !important;
    background-position: 3% center !important;
    background-color: RGBA(208, 121, 150, 1.00) !important;
}

.user_db .addButton {
    background: url("../img/icons/icon_plus.png") no-repeat center !important;
}

.user_db .addButton:before {
    color: #0E1028;
    border-right:1px solid #878787;
}

.extra_settings {
    background: RGBA(208, 121, 150, 1.00);
}

.gwt-RadioButton {
    border: 1px solid #D07996;
    color: #0E1028;
}

.strategy .gwt-RadioButton label {
    color: #0E1028;
}

.strategy .gwt-RadioButton input[type=radio]:checked + label{
    background: #BF5373;
    color: #000;
}

.strategy .gwt-RadioButton:nth-child(3) input[type=radio]:checked + label{
    background: #BF5373;
    color: #000;
}

.night_mode {

    background-image: url("../img/icons/icon_night_mode.png");
    background-color: #D8D4C8;
}

.night_mode .gwt-CheckBox label {
    background-color: #1abb9b;
}

.night_mode .gwt-CheckBox label:before {
    background-color: #d8d4c9;
}

.night_mode .gwt-CheckBox input:checked + label {
    background-color: #bdbcbc;
}

.night_mode .gwt-CheckBox input:focus + label {
    box-shadow: 0 0 1px #bdbcbc;
}

.night_mode .gwt-CheckBox input:checked + label:before {
    background-color: #11ba98;
}



.night_mode .gwt-Label {
    color: #0E1028;
}
.share_language, .share_language >div, .share_language table {
    color: #0E1028;
}

.share_language tbody{
    border-top: 2px solid #bdbcbc;
}

.share_language tbody tr:first-child {
    border-right: 1px solid #bdbcbc;
}
.share_language div table tbody tr td{
    background-color: #D8D4C8;
}
/* SHARE LANGUAGE HOVERING*/
.share_language .gwt-MenuItem-selected{
    background-color: rgba(255,255,255,0.2) !important;
}
.share_language .gwt-MenuItem:first-child {
    border-right: 1px solid #bdbcbc;
}

.share_language tbody tr td:nth-child(2) {
    background-image: url("../img/icons/icon_share.png");
}

/* Language and Share: popup */

.shareAndLanguagePopup *[class^="menuPopup"] {
    background: none !important;
}

.shareAndLanguagePopup table {
    background: #727375;
}

.shareAndLanguagePopup .languageMenu tr, .shareAndLanguagePopup .shareMenu tr {
    color: #0E1028;
    border-bottom: 1px solid #fff;
}

.shareAndLanguagePopup .languageMenu tr:hover, .shareAndLanguagePopup .shareMenu tr:hover {
    background: RGBA(191, 83, 115, 0.70);
}

/*LIBRARIES*/
.panelSettings .gwt-StackLayoutPanel div:nth-child(3) {
    background: RGBA(208, 121, 150, 1.00) !important;
}

/*STYLES FOR USER LIBRARY: LAYOUT*/

.panelSettings .gwt-StackLayoutPanel > div:nth-child(2n) .gwt-StackLayoutPanelContent > tbody tr td:nth-child(2) {
   color: #727375;
}


.panelSettings .gwt-StackLayoutPanel .gwt-StackLayoutPanelContent {
    background: #d8d4c9 !important;
}

.panelSettings .gwt-StackLayoutPanel .gwt-StackLayoutPanelContent tbody > tr{
    border-bottom: 1px solid #6D8A88;
}

.deleteUserLibraryItem {
    color: white;
    border: 1px solid #883332;
    background: #bc2423;
}


.panelSettings .gwt-StackLayoutPanel > div:nth-child(2n) .gwt-StackLayoutPanelContent > tbody tr td:nth-child(2) {
    color: rgb(114, 115, 117);
}