.westPanel {
    background-color: #167A66;
    font-weight: 200;
}

.stepSettings {
    font-size: 16px;
    color: #fff;
    background-image: url("../img/icons/icon_step.png");
    background-repeat: no-repeat;
    background-size: auto 70%;
    background-position: 5% center;
    background-color: #33495D;
    padding: 10px;
    display: flex;
    border-bottom: 0.2em solid #167A66;
    justify-content: space-between;
}

.stepSettings .leftAlign{
    margin-left: 30px;
}

.stepField input.rightAlign {
    background-color: #33495D;
    border: 0.5px solid #b2b0b0;
    border-radius: 15%;
    position: relative;
    bottom: 6px;
    color: #fff;
    height: 90%;
    width: 10%;
}

.standrard_db {
    color: #fff;
    background: url("../img/icons/icon_db.png") no-repeat !important;
    background-repeat: no-repeat;
    background-size: auto 60% !important;
    background-position: 3% center !important;
    border: none !important;
    border-bottom: 0.2em solid #167A66 !important;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.user_db {
    color: #fff;
    background: url("../img/icons/icon_user_db.png") no-repeat !important;
    background-repeat: no-repeat;
    background-size: auto 70% !important;
    background-position: 3% center !important;
    background-color: #33495D !important;
    border: none !important;
    border-bottom: 0.2em solid #167A66 !important;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.standrard_db .gwt-Label, .user_db .gwt-Label {
    margin-left: 37px;
    font-size: 16px;
    font-weight: 200;
}

.user_db .addButton {
    background: url("../img/icons/icon_plus.png") no-repeat center !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 12px;
    height: 14px;
    top: 6px;
    right: 6px;
    position: relative;
    border: none;
}
.user_db .addButton:focus {
    border: none;
}

.extra_settings {
    background: #33495D;
    width: 100%
}

.extra_settings tbody tr {
    display: flex;
    flex-direction:column;
}

.extra_settings table {
    display: block;
    clear:both;
}

.style-strategy {
    display: flex;
    flex-wrap: wrap;
}

.gwt-RadioButton {
    width: 49%;
    height: 100%;
    display: inline-block;
    border: 1px solid #177965;
    color: #fff;
    text-align: center;
    font-size: 1em;
}
.strategy .gwt-RadioButton input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
}

.strategy .gwt-RadioButton label {
    color: #fff;
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    padding: 5px 20px;
}

.strategy .gwt-RadioButton input[type=radio]:checked + label{
    background: #1e9e84;
    width: 70%;
    color: #000;
    
}

.night_mode {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-image: url("../img/icons/icon_night_mode.png");
    background-repeat: no-repeat;
    background-size: auto 50%;
    background-position: 5% center;
    background-color: #167A66;
}

.night_mode .gwt-CheckBox {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.night_mode .gwt-CheckBox input {
    display:none;
}

.night_mode .gwt-CheckBox label {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 24px;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.night_mode .gwt-CheckBox label:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 5px;
    bottom: 3px;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}

.night_mode .gwt-CheckBox input:checked + label {
    background-color: #33485c;
}

.night_mode .gwt-CheckBox input:focus + label {
    box-shadow: 0 0 1px #33485c;
}

.night_mode .gwt-CheckBox input:checked + label:before {
    -webkit-transform: translateX(22px);
    -ms-transform: translateX(22px);
    transform: translateX(22px);
    background-color: #11ba98;
}



.night_mode .gwt-Label {
    margin-left: 30px;
    color: #fff;
    vertical-align: middle;
    line-height: 2em;
    font-size: 1.2em;
}

.share_language tbody {
    display: flex;
    justify-content: space-between;
    width:100%;
}

.share_language .gwt-Button:first-child {
    border-right: 1px solid #33485c;
}

.gwt-ListBox {
    display: none;
}

.panelSettings .gwt-StackLayoutPanel div:nth-child(3) {
    height:80px;
    background: #33495D !important;
}